:host{
    font-family: Arial, Helvetica, sans-serif
}

.custom-card {
  background-color: #1e1e2f;
  color: #fff;
  margin: 2rem;
  border-radius: 6px;
  padding: 1rem;
}

.custom-table {
  width: 100%;
  color: #fff;
  margin-top: 0px;
}

mat-header-cell {
  font-weight: bold;
  background-color: #2d2d3f;
  color: #04796bb6;
  padding: 0 12px 12px 12px;
  font-size: 12pt;
}

mat-cell {
  padding: 12px;
  border-bottom: 1px solid #444;
  background:  #2c2f38;
  color: white;
}

mat-cell:hover {
  background-color: #444855;
}

button {
  color: white;
  border-color: #62cfc2b6;
  background-color: #04796bb6;
  margin-left: 10px;
}

.titulo {
 width: 100%;
 text-align: center;
 align-self: center;
 margin: 15px 0 0 0;
}

.custom-card a{
  color: white;
  text-decoration: none;
}

mat-icon {
  color: #00f5d4;
}


.btn-exportar{
  background-color: #1e1e2f;
  border-color: #1e1e2f;
  border: none;
  text-align: end;
  margin: 0 10px 10px 0;
  align-items: center;
}